button {
    background-color: #048c14;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #037010;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #048c14;
    outline: none;
}

.logo-container {
    text-align: left;
    margin-bottom: 20px;
}

.logo {
    max-width: 200px;
    height: auto;
}

.table {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid grey;
    margin: 25px 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table tr td{
    background-color: #f0f2f5;
    color: #ffffff;
    text-align: left;
    border: 1px solid grey;
    color: #333;
}

.newticket-form {
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.login-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.login-button input[type="submit"] {
    background-color: #048c14;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 16px;
    width: 100%;
}

.login-button input[type="submit"]:hover {
    background-color: #037010;
}

.register-button {
    background-color: #048c14;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 20%;
    margin-left: 38%;
    text-align: center;
}

.notfound-container {
    text-align: center;
    padding: 100px 20px;
}

.notfound-container h1 {
    font-size: 100px;
    color:#037010;
    margin-bottom: 20px;
}

.notfound-container p {
    font-size: 20px;
    color: #555;
}