<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='Ofqual_logo_2018.svg.png') }}" alt="Company Logo" class="logo">
    </div>
    <form class="login-form" method="POST">
        <h2>Login</h2>
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username(size=32) }}<br>
        <label for="password">Password:</label>
        {{ form.password(size=32) }}<br>
        <div class="login-button">
            {{ form.submit() }}
        </div>
    </form>
    <div class="register-button">
        <button id="Enter" type="button" onclick="window.location.href = '/register' ; " class="button">Don't have an account? Register here.</button>
    </div>
</body>
</html>