<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='Ofqual_logo_2018.svg.png') }}" alt="Company Logo" class="logo">
    </div>
    <form class="login-form" method="POST">
        <h2>Register for an account</h2>
        {{ form.hidden_tag() }}
        <label for="firstname">First Name:</label>
        {{ form.firstname(size=32) }}<br>
        <label for="lastname">Last Name:</label>
        {{ form.lastname(size=32) }}<br>
        <label for="username">Username:</label>
        {{ form.username(size=32) }}<br>
        <label for="password">Password:</label>
        {{ form.password(size=32) }}<br>
        <div class="login-button">
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>