<!DOCTYPE html>
<html>
    <head>
        <title>Update Ticket</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Update Ticket</h1>
        <form method="post">
            <label for="title">Title:</label>
            <input type="text" name="title" value="{{ ticket.title }}">
            <label for="description">Description:</label>
            <input type="text" name="description" value="{{ ticket.description }} ">
            <button type="submit">Update</button>
        </form>
    </body>
</html>